<div class="room">
                    <div class="room-title">
                        <span class="room-name">扶正不是最菜的</span>
                        <span class="close"></span>
                    </div>
                    <div class="room-messages">
                        <div class="room-content">
                            <div class="room-dialog">
                                <time class="dialog-time">19:31</time>
                                <div class="dialog-me">
                                    <div class="me-head"><img src="/static/image/common/me.jpg"></div>
                                    <div class="me-message">
                                        <div class="me-message-box">
                                            <div class="me-message-content"><p>哈哈哈哈哈哈</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                 <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                 <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="room-dialog">
                                <time class="dialog-time">19:31</time>
                                <div class="dialog-me">
                                    <div class="me-head"><img src="/static/image/common/me.jpg"></div>
                                    <div class="me-message">
                                        <div class="me-message-box">
                                            <div class="me-message-content"><p>哈哈哈哈哈哈</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                 <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                                 <div class="dialog-aim">
                                    <div class="aim-head"><img src="/static/image/common/user.jpg"></div>
                                    <div class="aim-message">
                                        <div class="aim-message-box">
                                            <div class="aim-message-content"><p>啊啊啊啊啊啊啊啊</p></div>
                                            <div class="arrow-border"></div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-scroll"></div>
                    </div>
                    <div class="chat-send">
                        <ul class="chat-tool"><li><a href="javascript:;"><img src="/static/image/chat/emotion_btn.png"></a></li></ul>
                        <div class="message-input">
                        <textarea></textarea>
                        </div>
                        <div class="send-tip">按Enter发送消息/Ctrl+Enter换行</div>
                    </div>
                </div>