{% extends 'base.html' %}
{% block title %}WebChat{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/MyDialogBox/css/box.css">
{% endblock %}
{% block warp %}
    <div id="warp">
        <div id="login">
            <form action="" id="login-form" method="post">
                {% csrf_token %}
                {% if login_error %}<div class="error-message">{{ login_error }}</div>{% endif %}
                <label>Username </label>
                <input type="text" name="username">
                <label>Password </label>
                <input type="password" name="password">
                <input type="submit" value="Sign   in">
                <span id="form-register">新用户?<a href="javascript:;" id="register-a">点此注册</a></span>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/MyDialogBox/js/jquery.myDialogBox-1.0.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}